.mapboxgl-ctrl-attrib.mapboxgl-compact,
.mapboxgl-ctrl-bottom-left .mapboxgl-ctrl {
  display: none !important;
}

.mapboxgl-ctrl-group {
  background-color: transparent !important;
}

.mapboxgl-ctrl button.mapboxgl-ctrl-fullscreen span.mapboxgl-ctrl-icon,
.mapboxgl-ctrl button.mapboxgl-ctrl-shrink .mapboxgl-ctrl-icon,
.mapboxgl-ctrl button.mapboxgl-ctrl-geolocate .mapboxgl-ctrl-icon,
.mapboxgl-ctrl-bottom-right .mapboxgl-ctrl span {
  filter: brightness(0) invert(1);
  border: none;
}

.mapboxgl-ctrl-group:not(:empty) {
  box-shadow: none !important;
}

.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan
  .mapboxgl-canvas
  canvas {
  width: 100% !important;
  height: 100% !important;
}

.mapboxgl-user-location-dot,
.mapboxgl-user-location-dot:before {
  top: 0;
  left: 0;
  background-color: #00ffe7;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
  display: none;
}

.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan
  .mapboxgl-canvas {
  border-radius: 2px;
}
.map-container {
  height: calc(100vh - var(--height-header));
  }