.data-grid__container {
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
}

.scroll-table {
  width: 100%;
  height: 100%;
  // overflow: scroll;data-grid-headerdata-grid-header
}

.data-grid-header {
  z-index: 1;
}

.rows-selected {
  background-color: var(--turquoise-60) !important;
}

.pagination {
  width: 100%;
  height: 64px;
  position: relative;
  bottom: 0;
  padding: 16px;
  border-top: 1px solid var(--border-color);
}
.MuiDataGrid-columnHeaders {
  position: -webkit-sticky;
  position: sticky !important;
  top: 0;
}

.MuiDataGrid-columnHeaderCheckbox {
  position: -webkit-sticky;
  position: sticky !important;
  left: 0;
  z-index: 1000;
}

.MuiDataGrid-cellCheckbox {
  position: -webkit-sticky;
  position: sticky !important;
  background-color: var(--white);
  left: 0;
  z-index: 999;
}

.filter-placeholder {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  color: var(--text-tertiary);
}

.Mui-selected {
  .MuiDataGrid-cellCheckbox {
    background-color: var(--turquoise-60);
  }
}

.custom-grouping--device {
  .MuiDataGrid-columnHeaderTitleContainer {
    align-items: flex-end !important;
    padding-bottom: 14px !important;
  }
}

.custom-top-cell {
  position: relative;
  &::before {
    content: 'Giá»';
    padding-left: 16px;
    width: 200%;
    height: 48px;
    line-height: 48px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    font-size: 14px;
    font-weight: 600;
    font-family: Inter;
    background-color: var(--grey-primary-60);
    border-bottom: 1px solid var(--border-color);
  }
}

.MuiDataGrid-virtualScrollerContent--overflowed .MuiDataGrid-row--lastVisible .MuiDataGrid-cell {
  border-bottom: 1px solid var(--border-color) !important;
}

.hide-arrows-input-number {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}

.table-grid__header {
  border-top: 1px solid var(--grey-primary-100);
  border-right: 1px solid var(--grey-primary-100);
  background-color: var(--grey-primary-80);
  padding: 0px 16px !important;
  border-radius: 0 !important;
}

.table__wrapper {
  min-height: 179px;
  .MuiDataGrid-overlayWrapper {
    min-height: unset;
  }

  .MuiDataGrid-overlayWrapperInner > .MuiStack-root {
    border-bottom: none;
  }

  .MuiDataGrid-row:last-child {
    .MuiDataGrid-cell.MuiDataGrid-withBorderColor {
      border-bottom: none;
    }
  }

  .MuiDataGrid-overlayWrapperInner {
    .empty-record-message {
      border-bottom: none;
    }
  }
  .MuiDataGrid-filler {
    display: none;
  }

  .row-white {
    background-color: var(--white);
  }
  .row-grey {
    background-color: var(--grey-primary-60);
  }

  .MuiDataGrid-scrollbar--vertical {
    display: none !important;
  }
}
