.home_page_background {
  background-image: url('../../assets/images/svg/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh - var(--height-header) - 20px);
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  overflow: hidden;

  .home-page-map-vn {
    background-image: url('../../assets/images/svg/homeImage/mapvn.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    height: 100%;
    width: 100%;
    position: relative;

    #mark-end {
      position: absolute;
      bottom: 26%;
      right: 45%;
    }
    #mark-end-center {
      position: absolute;
      bottom: 30%;
      right: 45.5%;
      animation: rotation2 1s linear infinite;
    }

    .round-1 {
      width: 24px;
      height: 18px;
      border: 1px solid #42f0dbb2;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      .round-2 {
        width: 18px;
        height: 13px;
        border: 1px solid #42f0dbcc;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        .round-3 {
          width: 12px;
          height: 9px;
          border: 1px solid #42f0db;
          border-radius: 50%;
          animation: 1.5s pulsebackground infinite ease-in-out;
        }
      }
    }

    #marker-1 {
      position: absolute;
      top: 12%;
      left: 25%;
    }

    #marker-2 {
      position: absolute;
      top: 9%;
      left: 15%;
    }
    #marker-3 {
      position: absolute;
      top: 42%;
      left: 60%;
    }
    #marker-4 {
      position: absolute;
      bottom: 12%;
      left: 42%;
    }
    #marker-5 {
      position: absolute;
      bottom: 32%;
      left: 44%;
    }
    #marker-6 {
      position: absolute;
      top: 20%;
      left: 20%;
    }
    #marker-7 {
      position: absolute;
      top: 52%;
      left: 64%;
    }
    #marker-8 {
      position: absolute;
      bottom: 22%;
      left: 44%;
    }
  }

  .tag-home-container {
    position: relative;
    width: 250px;
    .icon-tag-home {
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%2342F0DB' stroke-width='5' stroke-dasharray='30%25%2c 13%25' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
      border-radius: 100px;
      height: 64px;
      width: 64px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 35, 61, 1);
      position: absolute;
    }

    .content-tag-hone {
      height: 64px;
      width: 220px;
      padding: 0 16px 0 48px;
      display: flex;
      justify-content: start;
      align-items: center;
      background-image: linear-gradient(
        to right,
        rgba(11, 132, 118, 1),
        rgba(11, 132, 118, 0)
      );
      position: absolute;
      top: 0;
      left: 29px;
    }
  }

  .card-tile-home {
    background-image: linear-gradient(
      to right,
      rgba(7, 148, 255, 0.5),
      rgba(7, 148, 255, 0)
    );
    padding: 8px 16px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 4px;
    width: fit-content;
  }

  .card-data-border {
    padding: 16px;
    border-top: 2px solid var(--primary);
    border-bottom: 2px solid var(--primary);

    border-radius: 4px;
    gap: 2px;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 58, 102, 1),
      rgba(0, 58, 102, 0)
    );
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 0px 0px 12px 1px #0794ff;
  }

  .card-data-round-container {
    position: relative;
    .card-round-content {
      background: radial-gradient(
        circle at center,
        rgba(0, 58, 102, 0.2) 0,
        rgba(0, 58, 102, 0.2),
        rgba(133, 202, 255, 0.8) 100%
      );
      height: 120px;
      width: 120px;
      border-radius: 100%;
      // border-top: 3px outset #0794ff;
      // border-bottom: 2px outset #0794ff;
      // border-left: 1px solid #0794ff;
      // border-right: 1px solid #0794ff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .card-rectangular-content {
      position: absolute;
      bottom: -30px;
      height: 48px;
      width: 120px;
      background: radial-gradient(
        rgba(0, 58, 102, 0.5),
        rgba(0, 58, 102, 0.5),
        rgba(7, 148, 255, 0.3)
      );
      // border: 1px solid var(--primary);
      border-radius: 6px;
      padding: 6px 16px;
      gap: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: inset rgba(255, 255, 255, 0.8) 0px 0px 10px 0px;
    }
  }

  //right
  .card-precent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .card-precent-value {
      height: 36px;
      width: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: linear-gradient(
        to bottom,
        rgba(0, 58, 102, 1),
        rgba(0, 58, 102, 0)
      );
      border: 1px solid var(--primary);
      border-radius: 4px;
    }
  }

  .progress_line-container {
    background-color: var(--grey-700);
    height: 8px;
    width: 100%;
    border-radius: 10px;
    position: relative;
    .progress_line-precent {
      background-image: linear-gradient(
        to right,
        rgba(184, 133, 255, 0),
        rgba(184, 133, 255, 0.5),
        rgba(184, 133, 255, 1)
      );
      height: 100%;
      border: 1px solid rgba(184, 133, 255, 1);
      border-radius: 10px;
    }
    .affter-precent {
      height: 16px;
      width: 16px;
      position: absolute;
      background-color: var(--purple-100);
      border-radius: 16px;
      top: -4px;
      animation: 1.5s pulse infinite ease-in-out;
      box-shadow: 0px 2px 4px 0px rgba(255, 255, 255, 1) inset;
    }
  }

  .progress_column-container {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    .progress_column-container-precent {
      position: relative;
      height: calc(100% - 30px);
      display: flex;
      justify-content: end;
      align-items: center;
      flex-direction: column;

      .border {
        height: 36px;
        width: 48px;
        border-radius: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
      }
      .border::before {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: 50%;
        padding: 1px;
        background: linear-gradient(to top, var(--green-400), transparent);
        -webkit-mask:
          linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        pointer-events: none;
      }
      .background {
        height: 24px;
        width: 32px;
        background-color: #42f0db;
        border-radius: 50%;
        animation: 1.5s pulsebackground infinite ease-in-out;
      }

      .precent-container {
        position: absolute;
        top: -10px;
        width: 16px;
        height: 90%;
        background-color: transparent;
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: column;
        .precent-column {
          background-image: linear-gradient(to bottom, #42f0db00, #42f0db);
          width: 100%;
          animation: 1.5s pulsecolumn infinite ease-in-out;
        }
      }
    }
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #ff69f3;
  }

  100% {
    box-shadow: 0 0 0 14px #34022d00;
  }
}
@keyframes pulsebackground {
  0% {
    box-shadow: 0 0 0 0 var(--green-400);
  }

  100% {
    box-shadow: 0 0 0 15px #34022d00;
  }
}

@keyframes pulsecolumn {
  0% {
    box-shadow: 0 0 0 0 var(--green-400);
  }

  100% {
    box-shadow: 0 0 0 2px #34022d00;
  }
}

@keyframes pulsetitle {
  0% {
    box-shadow: 0 0 0 0 var(--blue-500);
  }

  100% {
    box-shadow: 0 0 0 12px #34022d00;
  }
}

//loader
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(173, 220, 255, 0.3);
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: sans-serif;
  font-size: 20px;
  color: var(--blue-100);
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 0 0 5px var(--blue-100);
}

.loader .span-load {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animateCardround 2s linear infinite;
  z-index: 100;
}

.loader .span-load::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--blue-80);
  top: -1px;
  right: -3px;
  box-shadow: 0 0 3px 1px var(--blue-80);
}

@keyframes animateCard {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animateCardround {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(405deg);
  }
}

.cube-loader {
  position: relative;
  /* u can choose any size */
  width: 45px;
  height: 45px;
  transform-style: preserve-3d;
  transform: rotateX(0deg);
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotateX(-30deg) rotateY(0);
  }

  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

.cube-loader .cube-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -10px;
  /* top: 0;
  left: 0; */
  transform-style: preserve-3d;
}

.cube-loader .cube-wrapper .cube-span {
  position: absolute;
  width: 100%;
  height: 100%;
  /* top: 0;
  left: 0; */
  /* width 75px / 2 = 37.5px */
  transform: rotateY(calc(90deg * var(--i))) translateZ(22.5px);
  background: #085e54;
  background: linear-gradient(90deg, #085e54 1%, #42f0db 99%);
  background: -moz-linear-gradient(90deg, #085e54 1%, #42f0db 99%);
  background: -webkit-linear-gradient(90deg, #085e54 1%, #42f0db 99%);
  border: 1px solid #0b8476;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cube-top {
  position: absolute;
  width: 45px;
  height: 45px;
  background: #0b8476;
  background: linear-gradient(90deg, #42f0db 1%, #085e54 99%);
  background: -moz-linear-gradient(90deg, #42f0db 1%, #085e54 99%);
  background: -webkit-linear-gradient(90deg, #42f0db 1%, #085e54 99%);
  /* width 75px / 2 = 37.5px */
  transform: rotateX(90deg) translateZ(12px);
  transform-style: preserve-3d;
}

.taco-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cube-top::before {
  content: '';
  position: absolute;
  /* u can choose any size */
  width: 45px;
  height: 45px;
  background: #0b8476;
  background: linear-gradient(90deg, #0b8476 1%, #0b8476 99%);
  background: -moz-linear-gradient(90deg, #0b8476 1%, #0b8476 99%);
  background: -webkit-linear-gradient(90deg, #0b8476 1%, #0b8476 99%);
  background: linear-gradient(90deg, #0b8476 1%, #0b8476 99%);
  background: -moz-linear-gradient(90deg, #0b8476 1%, #0b8476 99%);
  background: -webkit-linear-gradient(90deg, #0b8476 1%, #0b8476 99%);
  transform: translateZ(-55px);
  filter: blur(10px);
  box-shadow:
    0 0 10px #323232,
    0 0 20px hsl(176.61, 42.28%, 40.7%) 19.6%,
    0 0 30px #323232,
    0 0 40px hsl(176.61, 42.28%, 40.7%) 19.6%;
}

//path
.dot-line-1 {
  width: 20px;
  height: 5px;
  background-color: rgba(66, 240, 219, 1);
  box-shadow: 0 0 0 2px rgba(66, 240, 219, 0.3);
  border-radius: 50%;
  position: absolute;
  top: 13%;
  left: 16%;
  offset-path: path(
    'M 4 4 C 4 376.3472183227539, 269.50347328186035 97.08680458068847, 269.50347328186035 469.4340229034424'
  );
  offset-distance: 0%;

  animation: red-ball 5s linear infinite forwards;
}
.dot-line-2 {
  width: 20px;
  height: 5px;
  background-color: rgba(66, 240, 219, 1);
  box-shadow: 0 0 0 2px rgba(66, 240, 219, 0.3);
  border-radius: 50%;
  position: absolute;
  top: 16.5%;
  left: 26%;
  offset-path: path(
    'M 4 4 C 4 337.41665191650395, 194.50347328186035 87.35416297912593, 194.50347328186035 420.7708148956299'
  );
  offset-distance: 0%;

  animation: red-ball 5s linear infinite forwards;
}
.dot-line-3 {
  width: 20px;
  height: 5px;
  background-color: rgba(66, 240, 219, 1);
  box-shadow: 0 0 0 2px rgba(66, 240, 219, 0.3);
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 21%;
  offset-path: path(
    'M 4 4 C 4 285.50000152587893, 232.00347328186035 74.3750003814697, 232.00347328186035 355.87500190734863'
  );
  offset-distance: 0%;

  animation: red-ball 5s linear infinite forwards;
}
.dot-line-4 {
  width: 15px;
  height: 3px;
  background-color: rgba(66, 240, 219, 1);
  box-shadow: 0 0 0 2px rgba(66, 240, 219, 0.3);
  border-radius: 50%;
  position: absolute;
  top: 44%;
  left: 51%;
  offset-path: path(
    'M 75.99652671813965 4 C 75.99652671813965 142.7638687133789, 4 38.69096717834472, 4 177.45483589172363'
  );
  offset-distance: 0%;

  animation: red-ball 5s linear infinite forwards;
}
.dot-line-5 {
  width: 15px;
  height: 3px;
  background-color: rgba(66, 240, 219, 1);
  box-shadow: 0 0 0 2px rgba(66, 240, 219, 0.3);
  border-radius: 50%;
  position: absolute;
  top: 53%;
  left: 51.5%;
  offset-path: path(
    'M 93.99999809265137 4 C 21.999999618530268 4, 4 24.267355537414545, 4 105.33677768707275'
  );
  offset-distance: 0%;

  animation: red-ball 2s linear infinite forwards;
}
.dot-line-6 {
  width: 5px;
  height: 3px;
  background-color: rgba(66, 240, 219, 1);
  box-shadow: 0 0 0 2px rgba(66, 240, 219, 0.3);
  border-radius: 50%;
  position: absolute;
  bottom: 33.5%;
  left: 47%;
  offset-path: path(
    'M 4 4 C 14.80555419921875 4, 6.701388549804687 23.548571586608887, 17.506942749023438 23.548571586608887'
  );
  offset-distance: 0%;

  animation: red-ball 2s linear infinite forwards;
}
.dot-line-7 {
  width: 10px;
  height: 3px;
  background-color: rgba(66, 240, 219, 1);
  box-shadow: 0 0 0 2px rgba(66, 240, 219, 0.3);
  border-radius: 50%;
  position: absolute;
  bottom: 27%;
  left: 47%;
  offset-path: path(
    'M 4 35.56251049041748 C 32.80555572509766 35.56251049041748, 40.00694465637207 29.250008392333985, 40.00694465637207 4'
  );
  offset-distance: 0%;

  animation: red-ball 3s linear infinite forwards;
}
.dot-line-8 {
  width: 10px;
  height: 3px;
  background-color: rgba(66, 240, 219, 1);
  box-shadow: 0 0 0 2px rgba(66, 240, 219, 0.3);
  border-radius: 50%;
  position: absolute;
  bottom: 27%;
  left: 43%;
  offset-path: path(
    'M 4 107.68059921264648 C 4 24.73611984252929, 67.00347328186035 86.9444793701172, 67.00347328186035 4'
  );
  offset-distance: 0%;

  animation: red-ball 3s linear infinite forwards;
}

@keyframes red-ball {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

.spinner {
  height: 200px;
  width: 200px;
  position: absolute;
  animation: rotation 2s linear infinite;
  border-radius: 100%;
  top: -36%;
  left: -35%;
  transform: rotate(160deg);
}

.path {
  stroke-dasharray: 100;
  stroke-dashoffset: 20;
  stroke-linecap: round;
}

@keyframes rotation {
  to {
    transform: rotate(530deg);
  }
}
@keyframes rotation2 {
  to {
    transform: rotateY(360deg);
  }
}

.CircularProgressbar {
  filter: drop-shadow(0 0 10px #0794ff);
}

