.control-right .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border: none !important;
}

.control-right .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: none !important;
}

.control-right .ant-select-single.ant-select-show-arrow .ant-select-selection-item,
.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  font-size: 16px !important;
  margin-top: 2px !important;
  color: #adadad !important;
}

.table-telemetry .ant-select-selection-overflow {
  justify-content: end !important;
}
.table-telemetry .ant-select-multiple .ant-select-selection-placeholder {
  margin-right: 20px !important;
  justify-content: end !important;
}
#menu-diagram .ant-input {
  font-size: 12px;
  height: 30px !important;
}

#menu-diagram .ant-form-item {
  margin-bottom: 10px !important;
}

#menu-diagram .ant-form-item-label > label {
  font-size: 12px;
}
