.cctv-page,
.dashboard-cctv-template {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #000;
  overflow: hidden;

  .cctv-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    .leaflet-container {
      width: 100% !important;
      height: 100% !important;
    }
  }

  > *:not(.cctv-main) {
    position: relative;
    z-index: 1;
  }

  .left-container,
  .right-container {
    padding: 4px;
    padding-bottom: 40px;
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.67);
    width: 370px;
    pointer-events: auto;
    overflow-y: auto;
    min-width: 0;
    height: 90vh;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .left-container {
    left: 0;
  }
  .right-container {
    right: 0;
  }

  .content {
    flex: 1;
    padding: 20px;
    color: #fff;
    text-align: center;
  }

  .cctv-layout {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    flex: 1 1 0;
    display: flex;
    min-height: 0; // Important for flex children to shrink properly
    overflow: hidden;
    pointer-events: none; // Ngăn layout block toàn bộ map

    .overview-tabs {
      display: flex;
      margin-bottom: 12px;
      overflow: auto;
      .tab {
        flex: 1;
        background: none;
        border: none;
        color: #fff;
        font-weight: 500;
        font-size: 14px;
        padding: 4px;
        cursor: pointer;
        border-bottom: 2px solid transparent;
        transition:
          color 0.2s,
          border-bottom 0.2s;
        &.active {
          color: #7fd7ff;
          border-bottom: 2px solid #00bfff;
          background: #181f2c;
          box-shadow: 0 2px 8px #00bfff44;
        }
      }
    }

    .cctv-overview {
      width: 360px;
      background-color: transparent;
      max-height: 85vh;
      overflow: auto;
      color: #38bdf8;
      flex-shrink: 0;
    }
  }

  .search-container {
    display: flex;
    justify-content: center;
    padding: 2px 4px 8px 4px;
    background: #030912a3;
  }

  .search-input {
    width: 360px;
    height: 36px;
    padding-left: 40px;
    border: none;
    background-color: transparent;
    background-image:
      url('../../../assets/images/png/Search.png'),
      url('../../../assets/images/png/search-icon.png');
    background-size:
      100% 100%,
      20px;
    background-repeat: no-repeat, no-repeat;
    background-position:
      center,
      10px center;
    color: white;
    font-size: 14px;
    outline: none;
    &::placeholder {
      color: white;
      opacity: 0.6;
    }
  }

  .dashboard-card {
    border: 1px solid #36bffa3d;
    position: relative;
    transform: translateY(30px);
    animation: cardFadeIn 0.8s ease-out forwards;
    animation-delay: 0.2s;
    transition: box-shadow 0.3s ease;
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      height: 1px;
      width: 24px;
      background: var(--Blue-Light-400, #36bffa);
      border-radius: 2px;
      z-index: 2;
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
      transform: scaleX(-1);
    }
    &::after,
    &::before {
      box-shadow: 0 0 8px #36bffa3d;
    }

    .dashboard-card-header {
      padding: 6px 12px;
      margin-bottom: 0;
      position: relative;
      z-index: 3;
      background: transparent;
      border: none;
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        width: 118px;
        background: linear-gradient(
          90deg,
          rgba(54, 191, 250, 0) 4%,
          #36bffa 31.73%,
          #67e3f9 50%,
          rgba(54, 191, 250, 0) 100%
        );
        box-shadow: 0 0 4px #36bffa99;
      }

      .dashboard-card-title {
        font-size: 16px;
        font-weight: 200;
        color: #36bffa;
      }
    }

    .dashboard-card-content {
      padding: 12px;
      z-index: 1;
      border: none;
    }
  }

  @media (max-width: 768px) {
    .top-bar-content {
      flex-direction: column;
      align-items: center;
      padding: 0 20px;
      .top-bar-title {
        font-size: 18px;
      }
      .top-bar-date {
        font-size: 12px;
      }
    }
    .bottom-menu {
      gap: 16px;
      font-size: 12px;
      z-index: 2 !important;
    }
  }
}

// .cctv-list li.error {
//   background-image: url('../../../assets/images/png/Frame-Alert.png') !important;
//   background-size: 100% 100%;
//   background: transparent;
// }
