.energy-flatform {
  overflow-y: auto;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    ui-sans-serif,
    system-ui,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    Segoe UI Symbol,
    'Noto Color Emoji';
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

@keyframes fade-in {
  from { opacity: 0; transform: translateY(16px);}
  to { opacity: 1; transform: none;}
}
.animate-fade-in {
  animation: fade-in 0.5s cubic-bezier(.4,0,.2,1);
}