* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}


@font-face {
  font-family: 'Noto Sans';
  src:
    local('Noto Sans'),
    url('./assets/fonts/NotoSans/NotoSans-Regular.ttf') format('truetype');
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 180px;
  flex-shrink: 0;
  align-self: stretch;
}

*::-webkit-scrollbar-thumb {
  background-color: #abb0b0; /* Màu của con trỏ thanh cuộn */
  border-radius: 180px;
}

*::-webkit-scrollbar-track {
  background-color: transparent; /* Màu của nền thanh cuộn */
}

.MuiTypography-root {
  font-family: 'Noto Sans', sans-serif;
}